{% for item in ads|sort(attribute='created_date', reverse=true)%}
{% set i = loop.index %}
{% include "modal.html" %}

<div class="add">
    <div class="border border-secondary rounded">
        <a href="/ad/details/{{ item.id }}" title="Подробнее о товаре" id="add_href">
            <h2 align="center">{{item.title}}</h2>
            <table>
                <tr>
                    <td>
                        <a data-bs-toggle="modal"
                           data-bs-target="#Modal{{loop.index}}">
                            <img class="add_img rounded-3"
                                 src="/static/img/{{item.filename}}"
                                 alt="Изображение товара">
                        </a>
                    </td>
                    <td><p>
                        <p class="fw-bold fs-4">{{item.price}} рублей</p>
                        <p class="fs-6">{{item.content}}</p>
                        <p class="fst-italic fs-5">
                            Автор - <a class="navbar-brand"
                                       href="/user/{{item.user.id}}/active"
                                       title="Подробнее об авторе"
                                       id="profile_href">
                            {{item.user.name}} {{item.user.surname}}</a></p>
                        <p class="fs-6">
                            {{item.created_date.strftime("%m/%d/%Y %H:%M")}}</p>
                    </td>
                </tr>
            </table>
            {% if current_user.is_authenticated and current_user == item.user and state != "complete" %}
            <div align="center">
                <a href="/ad/{{ item.id }}" class="btn btn-info">
                    Изменить
                </a>
                <a href="/ad_delete/{{ item.id }}"
                   class="btn btn-danger" id="btn_sold">
                    Удалить
                </a>
            </div>
            <div align="right">
                <a href="/change_is_sold/1/{{ item.id }}"
                   class="btn btn-warning">Товар продан</a>
            </div>
            {% endif %}
            {% if current_user.is_authenticated and current_user == item.user and state == "complete" %}
            <div align="center">
                <a href="/change_is_sold/0/{{ item.id }}"
                   class="btn btn-warning">Снова выставить на продажу</a>
            </div>
            {% endif %}
        </a>
    </div>
</div><br>
{% endfor %}