{% extends "base.html" %}

{% block content %}
<h1>Доступные товары</h1>
{% if current_user.is_authenticated %}
    <a href="ad" class="btn btn-secondary">Сделать объявление</a>
{% endif %}
{% for item in ads%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        <img src="../static/img/{{item.filename}}"
             alt="Изображение товара" width="300"><br>
        {{item.price}} рублей<br>
        {{item.content}}
    </div>
    <div>
        Автор - <a class="navbar-brand"
                   href="/user/{{item.user.id}}">
        {{item.user.name}} {{item.user.surname}}</a><br>
        Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/ad/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/ad_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div>
{% endfor %}
{% endblock %}